<li>
  <span class="avatar"><%= image_tag current_user.image.url(:thumbnail), :width => 50, :height => 50 %></span>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
      | <%= link_to 'Delete', user, method: :delete,
                    data: { confirm: 'Are you sure?' } %>
  <% end %>
</li>
